# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*/*/test_*.py
*/*/_test_*.py

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.orig
*~

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyBuilder
target/

# VS Code
.vscode/

# Open Source AI Studio
.osai/

# IDE - Generic
.idea/
*.project
*.swp
*.sublime-workspace
*.tmproj
*.bak
*.tmp

# mypy
.mypy_cache/